@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #020617; /* Navy black */
  overflow-x: hidden;
}

::selection {
  background-color: #f97316; /* Accent */
  color: #fff;
}

/* Hide default cursor on desktop */
@media (min-width: 768px) {
  *, *::before, *::after {
    cursor: none !important;
  }
}
